@{ 
    List<Oblig1_Nettbutikk.Models.Category> categories = ViewBag.Categories;
    List<Oblig1_Nettbutikk.Models.Product> products = ViewBag.Products;
}
<div class="wrapper">
    <div class="categories">
        <ul class="category-list">
            @foreach (var category in categories)
            {
                <li id="@category.CategoryID">@Html.DisplayFor(model => category.Name)</li>
                <li>
                    @Html.ActionLink(category.Name,"Category","Home",new  { @CategoryID = category.CategoryID },null)
                </li>
                
            }
        </ul>
    </div>
    <div class="content">
        <ul>
            @foreach(var product in products)
            {
                <li>@Html.DisplayFor(p => product.Name)</li>
            }
        </ul>
    </div>

</div>

<script>
    $(document).ready(function () {
        $(".category-list li").click(function () {
            
        })
    })
</script>