@using Nettbutikk.Models

@{ 
    List<CustomerView> Customers = ViewBag.Customers;
    List<OrderView> Orders = ViewBag.Orders;
}
<h2>Administration</h2>

@Html.Partial("Administration_CustomerList", Customers)
<hr class="hr-dark" />
@*@Html.Partial("Administration_Order", Orders)*@
<hr class="hr-dark"/>
@{Html.RenderAction("OrdersPartial",new { CustomerId = 0 });}

    