body {
    padding-bottom: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    background: #f2f2f2;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

section {
    padding-bottom: 15px;
    overflow:hidden;

}

/* bootstrap override / extention */
.row {
    margin-top: 15px;
}

/* Custom css */
.backbar-top {
    height: 28px;
    background: #3b3c3b;
}

.backbar-mid {
    background: lightgrey;
}

.header, .header_logo, .header_logo img, .header_search, .header_options {
    position: relative;
    height: 90px;
}

.header_logo {
    float: left;
    width: 20%;
}

    .header_logo img {
        padding: 5px;
    }

.header_search {
    position: relative;
    float: left;
    width: 55%;
}

.header_options {
    position: relative;
    float: left;
    width: 25%;
    /*border:thin solid lightblue;*/
}

.header_login, .header_shop {
    height: 50%;
    /*border:thin solid black;*/
}

    .header_shop a {
        height: 40%;
    }

.header_shoppingcart, .header_checkout {
    float: left;
    width: 50%;
    height: 100%;
}

.table-modal td {
    height: 60px;
    padding: 0 5px;
}

.table-modal td input{
    height:34px;
    width:130%;
    padding:6px 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: #555;
    line-height:1.3;
    border:thin solid #ccc;
    border-radius:4px;
}

.val-error{
    position:absolute;
}

.input-error{
    border:thin solid red !important;
}

.wrapper {
    position: relative;
    background: white;
    padding-bottom: 15px;
}

.categories {
    margin-top: 20px;
    height: inherit;
    float: left;
    width: 20%;
}

.content {
    float: left;
    width: 80%;
    height: inherit;
    /*border:thin solid green;*/
}



/* product_listitem */

.product_listitem {
    height: 300px;
    overflow: hidden;
    padding: 10px;
    background: white;
}

    .product_listitem:hover {
        box-shadow: 0px 0px 5px #555;
    }

.listitem_description_outer {
    overflow: hidden;
}

.listitem_description {
    max-height: 120px;
    width: 108%;
    overflow: auto;
    font-size: small;
    padding: 10px;
    color: #808080;
    margin-bottom: 20px;
}

.listitem_image {
    position: relative;
    height: 70px;
    width: 100%;
}

    .listitem_image img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        box-shadow: 1px 1px 1px #787;
    }

/* Search */
.searchfield {
    position: relative;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 40%;
    width: 320px;
}

    .searchfield input {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        padding-left: 25px;
        height: 100%;
    }

.search_icon {
    position: absolute;
    left: 25px;
    top: 10px;
    font-size: 1.1em;
    color: #555;
    height: auto;
    overflow: hidden;
}

.cartCounter {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: #337ab7;
    background: white;
    border: thin solid #2e6da4;
}

    /* Categories */
    .category-list{
        list-style:;
    }
    .category-listitem{
        font-size:large;
        margin-top:25px;

    }

/* Product_details */
.product_details {
    position: relative;
    min-height: 500px;
    padding: 0 15px;
}

    .product_details .row {
        margin: 0;
        position: relative;
    }


.details_image img {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 1px #555;
}

.details_price, .details_var_info, .details_description {
    background: #f2f2f2;
    padding: 10px;
}

.details_price{
    height: 100px;
}

    .details_price .price {
        height: 50%;
        display: inline-block;
        font-size: x-large;
        font-weight: bold;
        color: #297406;
    }

    .details_price .addToCart {
        width: 200px;
        border: thin solid #333;
        margin-top: 8px;
        font-size: large;
        background: yellow;
        color: black;
    }

.details_description {
}

    .details_description span {
        color: #333;
    }

/* Shopping cart */
.shoppingcart {
    position:relative;
    width: 80%;
    min-height:400px;
    margin: auto;
    background: white;
    padding: 10px;
}

/*.shoppingcart .rowlist {
    box-shadow:0 0 1px #555;
}*/

    .shoppingcart .rowlist .row {
        margin: 0;
        font-size: large;
        line-height: 40px;
    }

        .shoppingcart .rowlist .row:nth-child(2n+1) {
            background: #dde9ed;
        }

        .shoppingcart .rowlist .row:first-child {
            background: #333;
            color: #fafafa;
        }

        .summary_wrapper{
            position:relative;
            height:100px;width:350px;
            margin-top:20px;
            float:right;
        }

.shoppingcart_summary {
    position:absolute;
    right:0;
    height:100%;
    width:100%;
    /*margin-top:20px;*/
    padding:5px;
    background: #f3c0c0;
    box-shadow: 0 0 1px #555;
}

    .shoppingcart_summary .lblPrice,.shoppingcart_summary #sumTotal,.shoppingcart_summary .dotdash {
        height: 50%;
        display: inline-block;
        
        font-weight: bold;
    }

    .shoppingcart_summary .lblPrice
    {
        font-size: large;
        color:#333;
    }
    .shoppingcart_summary #sumTotal,.shoppingcart_summary .dotdash{
        color: #297406;
        font-size: x-large;
    }
    .shoppingcart_summary a.btn{
        position:absolute;
        bottom:5px;
        left:0;right:0;
        margin:auto;
        width:200px;
        font-size:large;
    }

    .shoppingcart_summary .emptyCartLink{
        position:absolute;
        left:0;
        bottom:-20px;
    }

    /* Mypage */

    .liOrderItem table tr td,.liOrderItem table tr th{
        padding:2px 5px;
    }
    .liTableToggle {
        cursor: pointer;
    }

    .date{
        padding-left:5px;
        font-family:monospace;
        color:#777;
    }

    #divUpdateCustomer{
        float:left;
        width:50%;
    }

    #divChangePassword{
        float:right;
        width:50%;
    }

/* Checkout / Reciept*/
 .divCheckout, .divReciept{
     width:60%;
     padding :20px;
     margin:auto;
     background:white;
 }
