body {
    padding-top: 50px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Custom css */

.categories{
    float:left;
    width:20%;
    /*border:thin solid gray;*/
}

.content{
    float:left;
    width:80%;
    /*border:thin solid green;*/
}

.header *{
    position:relative;
    height:100px;
    background:#fff094;

}

.header_logo{
    float:left;
    width:25%;
    /*border:thin solid lightblue;*/
}

.header_search{
    float:left;
    width:50%;
    /*border:thin solid green;*/
}

.header_options{
    position:relative;
    float:left;
    width:25%;
    /*border:thin solid lightblue;*/
}

.header_login, .header_shop{
    height:50%;
    /*border:thin solid black;*/
}

.header_shop{
    position:relative;
}

.header_shoppingcart, .header_checkout{
    float:left;
    width:50%;
    height:100%;
}

.table-modal td{
    height: 60px;
    padding:0 5px;

}