@model Oblig1_Nettbutikk.Models.Product
<div id="ShoppingCartModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h2>Handekurv</h2></div>
            <div class="modal-body container">
                <div id="list">

                </div>
            </div>

        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        
        
    })
</script>
