
<h2>Administration</h2>
<div id="adminCustomer">
    @{Html.RenderAction("CustomerlistPartial"); }
</div>
<hr class="hr-dark" />
<div >
    @{Html.RenderAction("OrdersPartial", new { CustomerId = 0 });}
</div>
